<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF8">
    <title>TODO サンプル</title>
    <script type="text/javascript" src="bundle.js" defer async></script>
  </head>
  <body>
    <h1>TODO</h1>
    <div id="main">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody v-for="todo in todos">
          <tr>
            <td>{{ todo.id }}</td>
            <td><input type="text" v-model="todo.title" placeholder="タイトルを入力して下さい。">
            <td><button @click="remove(todo.id)">&times;</button></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button @click="add">追加</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>
